

<div class="container-info">

  <div class="row">

    <div class="col-md-5">
      <h3 class="title"> Новини </h3>
      <% @news.each do |news|%>
          <div class="row">


            <p>
              <%= image_tag news.picture_url, width: 135, height: 100, class: 'leftimg' %>
              <%= link_to news.title, news %>
              <%= news.created_at %>
              <%= news.html.html_safe.truncate(200) %>
            </p>

          </div>
      <% end %>
      <div class="pull-right">
        <%= link_to "Інші новини", controller: 'news', action: 'index'%>
      </div>
    </div>
    <div class="col-md-5 col-sm-offset-1">
      <h3 class="title"> Блог </h3>

      <div class="blog">
        <h4> <%= link_to @last_blog.title, @last_blog %></h4>
        <p>
          <%= @last_blog.html.html_safe.truncate(620) %>
          <div class="pull-right">
            <%= link_to "Читати далі", @last_blog %>
          </div>
        </p>
      </div>

    </div>

  </div>
  <div class="row">
    <h3 align="center"> Фото </h3>
    <div id="owl-demo" class="gallery">

      <% Photo.all.each do |photo| %>
        <div class="item"> <%= image_tag photo.src, width: 350, height: 250%></div>
      <% end %>


    </div>
  </div>
</div>