
  <h1 class="title"> Новини </h3>
  <% @news.each do |news|%>
      <div class="col-lg-5">


        <p>
          <%= image_tag news.picture_url, width: 135, height: 100, class: 'leftimg' %>
          <%= link_to news.title, news %> </br>

            <span class="text-muted"> <%= news.created_at %> </span></br>
          <%= news.html.html_safe.truncate(200) %>
          <%= link_to 'Читати далі...', news, class: 'pull-right' %>
        </p>
      </br>
      </div>
  <% end %>
